body {
    margin: 0;
    font-family: Arial;
}

nav {
    height: 80px;
    box-shadow: 0px -5px 7px;
    padding: 0 120px;
}

nav ul {
    margin: 0;
}

nav ul li {
    list-style-type: none;
    float: right;
    padding: 30px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(77, 219, 72);
    transition: 0.2s;
}

/* Change logo properties here */
nav .logo {
    float: left;
    padding: 30px;
    font-weight: 600;
}

.nav__link--item-d {
    padding: 10px 120px;
    background-color: #eeeeee;
    min-height: 400px;
    max-height: 400px;
    overflow-x: auto;
}

.nav__link--item-d ul {
    padding: 0;
    margin: 0;
}

.nav__link--item-d li {
    list-style-type: none;
    padding: 20px 0;
}

.nav__link--item-d li a {
    text-decoration: none;
    color: black;
}

.nav__link--item-d .column {
    float: left;
    width: 33%;
}

.active {
    font-weight: 600;
}